* {
  margin: 0;
  font-family: "Krona One", sans-serif;
}

body {
  background-color: #000000;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #000000;
  padding: 20px;
}

.app__dropdown {
  background-color: rgb(0, 0, 0);
  color: white;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
  transition: 0.5s;
}
.app__header > h1:hover {
  color: #ffffff;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}
.app__right {
  margin: 10px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
